<button (click)="newGame()">Reset</button>

<button (click)="printBoatList()">Print Boat List</button>

<button (click)="printGameTiles()">Print Game Tiles</button>

<button (click)="enableGameMode()">Game Mode</button>

<button (click)="enableSolutionMode()">Show Solution</button>

<table>
  <ng-container *ngFor="let y of gridDummyArray">
    <tr>
      <ng-container *ngFor="let x of gridDummyArray">
        <td [ngClass]="getClass(x, y)" class="gameTile"></td>
      </ng-container>
      <td class="clue">{{ getRowCount(y) }}</td>
    </tr>
  </ng-container>
  <tr>
    <ng-container *ngFor="let x of gridDummyArray">
      <td class="clue">{{ getColCount(x) }}</td>
    </ng-container>
  </tr>
</table>

<div>Solution Code: {{ solutionCode | uppercase }}</div>
